/.vs/HALRIUM/v15/ipch/AutoPCH/2cfd4cb6e822811b/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/47faec5c5d4e003a/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/4b031f827c279668/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/813a2062426757/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/8dca9b4cb1d9ca9a/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/9c757040c7fd2b47/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/c01fc1532c4805d7/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/c1b497ea78ed781a/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/c46fedd7fc754242/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/f7456d0533c8fd45/*.ipch
/Debug/*.obj
/*.gitignore
/.vs/HALRIUM/v15/ipch/AutoPCH/aa45af937e288700/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/83fd2bac2bf9dca6/*.ipch
/.vs/HALRIUM/v15/ipch/AutoPCH/8454bc5e5bdc4985/*.ipch
/Debug/*.enc
